nvim/.config/nvim/autoload/
nvim/.config/nvim/.netrwhist
zsh/.oh-my-zsh
polybar/.config/polybar/polybar/
nvim-lua/.config/nvim/plugin/packer_compiled.lua
nvim-lua/.config/nvim/lua/.luarc.json
hypr/.config/hypr/shaders

mpd/.config/mpd/state
mpd/.config/mpd/database
mpd/.config/mpd/mpd.log
mpd/.config/mpd/pid
mpd/.config/mpd/sticker.sql
mpd/.config/mpd/playlists/*

oh-my-tmux/.config/tmux/plugins/

zellij/.config/zellij/cached

*.luarc.json
lazy-lock.json

# This is for testing only
nvim-test

*test.sh

**/work
