[submodule "awesome/.config/awesome/layout-machi"]
	path = awesome/.config/awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "awesome/.config/awesome/awesome-cyclefocus"]
	path = awesome/.config/awesome/awesome-cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule "awesome/.config/awesome/awesome-wm-nice"]
	path = awesome/.config/awesome/awesome-wm-nice
	url = https://github.com/mut-ex/awesome-wm-nice
