[submodule "awesome-fw/.config/awesome/cyclefocus"]
	path = awesome-fw/.config/awesome/cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
	ignore = dirty
[submodule "awesome-fw/.config/awesome/layout-machi"]
	path = awesome-fw/.config/awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
	ignore = dirty
[submodule "awesome-fw/.config/awesome/lain"]
	path = awesome-fw/.config/awesome/lain
	url = https://github.com/lcpz/lain
	ignore = dirty
[submodule "awesome-fw/.config/awesome/nice"]
	path = awesome-fw/.config/awesome/nice
	url = https://github.com/mut-ex/awesome-wm-nice
	ignore = dirty
